<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-subtitle>Balance</ion-card-subtitle>
          <ion-card-title
            ><h1 class="monto">
              {{ balance | currency }}
            </h1></ion-card-title
          >
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="success">
        <ion-card-header>
          <ion-card-subtitle>Ingresos</ion-card-subtitle>
          <ion-card-title class="monto">{{
            ingresos | currency
          }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card color="danger">
        <ion-card-header>
          <ion-card-subtitle>Gastos</ion-card-subtitle>
          <ion-card-title class="monto">{{ gastos | currency }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
